<header>
  <div class="navbar navbar-dark shadow-sm">
    <div class="navbar-brand align-item-centre d-flex">
   <a href="" style="text-decoration : none">
     <strong style="font-size: 20px" class="icon" routerLink="/product"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Teleshop</strong>
   </a>
      <div class="form-group mt-2">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchTerm"
          (keyup)="search($event)"
          placeholder="Search products"
        />
      </div>
      <div>
        <button class="btn btn-primary m-2" routerLink="crud">Address</button>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-search search-icon"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
    </div>
    <button routerLink="cart" class="btn btn-danger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="30"
        fill="currentColor"
        class="bi bi-basket2"
        viewBox="0 0 16 16"
      >
        <path
          d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"
        />
        <path
          d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"
        />
      </svg>
      <div style="font-size: 20px;" class="badge bg-danger ">{{totalItem}}</div>

    </button>
    <div>
      <button class="btn btn-primary m-2" routerLink="signup">Sign Up</button>
    </div>
    <button class="btn btn-outline-danger" (click)="signout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Logout
    </button>
  </div>
</header>
